flows.json
[{"id":"ab65d071.fb3fb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e408d6ad.1a2918","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9b50641e.87f828","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"9f81a73a.160548","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c230d8b9.cc0ca8","type":"ui_group","z":"","name":"Smart home","tab":"99ac6330.a0498","order":1,"disp":true,"width":"21","collapse":false},{"id":"7666d9c5.0db128","type":"ui_tab","z":"","name":"Soil Moisture","icon":"dashboard","disabled":false,"hidden":false},{"id":"66673efa.b0cbb","type":"ui_group","z":"","name":"Group","tab":"7666d9c5.0db128","order":2,"disp":true,"width":"6","collapse":false},{"id":"9c5374aa.cd8a18","type":"ui_tab","z":"","name":"Humidity","icon":"dashboard","disabled":false,"hidden":false},{"id":"cda3ae6b.b091d","type":"ui_tab","z":"","name":"Smart-hum","icon":"dashboard","disabled":false,"hidden":false},{"id":"4c74e6d3.288678","type":"ui_group","z":"","name":"Smart Humidity","tab":"9c5374aa.cd8a18","order":1,"disp":true,"width":"11","collapse":false},{"id":"99ac6330.a0498","type":"ui_tab","z":"","name":"Smart Agriculture","icon":"dashboard","disabled":false,"hidden":false},{"id":"a9b26b6b.3d0228","type":"ui_group","z":"","name":"Smart-moisture","tab":"7666d9c5.0db128","order":2,"disp":true,"width":"6","collapse":false},{"id":"5305077.c8dccf8","type":"ibmiot in","z":"e408d6ad.1a2918","authentication":"apiKey","apiKey":"9b50641e.87f828","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"thermometer1","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT input","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":160,"wires":[["cfb0f5d6.1d70a8","89ddd98c.9000f8","120e84e1.cac1db"]]},{"id":"651c20a0.49654","type":"debug","z":"e408d6ad.1a2918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":160,"wires":[]},{"id":"cfb0f5d6.1d70a8","type":"function","z":"e408d6ad.1a2918","name":"Temperature","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["651c20a0.49654","25752442.3804fc"]]},{"id":"89ddd98c.9000f8","type":"function","z":"e408d6ad.1a2918","name":"Humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["651c20a0.49654","d7dab8f7.a411e8"]]},{"id":"120e84e1.cac1db","type":"function","z":"e408d6ad.1a2918","name":"Soil moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["651c20a0.49654","b17b0c87.f8579"]]},{"id":"25752442.3804fc","type":"ui_gauge","z":"e408d6ad.1a2918","name":"","group":"c230d8b9.cc0ca8","order":0,"width":"7","height":"4","gtype":"gage","title":"Temp Gauge","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#000000","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":240,"wires":[]},{"id":"d7dab8f7.a411e8","type":"ui_gauge","z":"e408d6ad.1a2918","name":"","group":"c230d8b9.cc0ca8","order":0,"width":"7","height":"4","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#000000","#000000","#ca3838"],"seg1":"","seg2":"","x":680,"y":280,"wires":[]},{"id":"b17b0c87.f8579","type":"ui_gauge","z":"e408d6ad.1a2918","name":"","group":"c230d8b9.cc0ca8","order":0,"width":"7","height":"4","gtype":"gage","title":"Soil moisture","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#000000","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":320,"wires":[]},{"id":"6a2e4078.40a65","type":"ibmiot out","z":"e408d6ad.1a2918","authentication":"apiKey","apiKey":"9b50641e.87f828","outputType":"cmd","deviceId":"Motor_Control","deviceType":"simple_device","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":460,"wires":[]},{"id":"9901a554.b8f428","type":"ui_button","z":"e408d6ad.1a2918","name":"","group":"c230d8b9.cc0ca8","order":2,"width":"11","height":"1","passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Motor ON\"}","payloadType":"json","topic":"","x":340,"y":420,"wires":[["6a2e4078.40a65","651c20a0.49654","369c3fca.57ca"]]},{"id":"8d65f648.82ed08","type":"ui_button","z":"e408d6ad.1a2918","name":"","group":"c230d8b9.cc0ca8","order":3,"width":"10","height":"1","passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Motor OFF\"}","payloadType":"json","topic":"","x":350,"y":500,"wires":[["6a2e4078.40a65","651c20a0.49654","369c3fca.57ca"]]},{"id":"abf1261d.a85e68","type":"http request","z":"ab65d071.fb3fb","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Kozhikode,IN&appid=139794aff4e8765e13e7c8c9d97be216","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":120,"wires":[["c92d6a41.7d2a88","46fda3de.32682c","d3f43cb9.d6778"]]},{"id":"f14dc9bc.e6e578","type":"debug","z":"ab65d071.fb3fb","name":"msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":120,"wires":[]},{"id":"f73cb138.bf542","type":"inject","z":"ab65d071.fb3fb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":120,"wires":[["abf1261d.a85e68"]]},{"id":"c92d6a41.7d2a88","type":"function","z":"ab65d071.fb3fb","name":"temp","func":"msg.payload = msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["f14dc9bc.e6e578","ea12407b.b9a84"]]},{"id":"46fda3de.32682c","type":"function","z":"ab65d071.fb3fb","name":"humidity","func":"msg.payload = msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["f14dc9bc.e6e578","e135641.46fe798"]]},{"id":"d3f43cb9.d6778","type":"function","z":"ab65d071.fb3fb","name":"atm pressure","func":"msg.payload = msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["f14dc9bc.e6e578","8446dafc.dbd548"]]},{"id":"ea12407b.b9a84","type":"ui_text","z":"ab65d071.fb3fb","group":"c230d8b9.cc0ca8","order":5,"width":"7","height":"3","name":"","label":"Temperature: ","format":"{{msg.payload}}","layout":"row-center","x":730,"y":260,"wires":[]},{"id":"e135641.46fe798","type":"ui_text","z":"ab65d071.fb3fb","group":"c230d8b9.cc0ca8","order":6,"width":"7","height":"3","name":"","label":"Humidity: ","format":"{{msg.payload}}","layout":"row-center","x":730,"y":320,"wires":[]},{"id":"8446dafc.dbd548","type":"ui_text","z":"ab65d071.fb3fb","group":"c230d8b9.cc0ca8","order":7,"width":"7","height":"3","name":"","label":"Atmospheric Pressure: ","format":"{{msg.payload}}","layout":"row-center","x":740,"y":380,"wires":[]},{"id":"369c3fca.57ca","type":"ui_text","z":"e408d6ad.1a2918","group":"c230d8b9.cc0ca8","order":8,"width":"21","height":"2","name":"Motor status","label":"Motor Status: ","format":"{{msg.payload.command}}","layout":"row-center","x":680,"y":540,"wires":[]}]